<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TODO/style.css' %}">

<title>TODOs</title>
<body>
    <div class="row">
        <div class="col-sm">
            <td class="header" style="margin-left: 10px;">
                <form action="{% url 'main' %}">
                    <button class="header">Übersicht</button>
                </form>
            </td>
        </div>
        <div class="col-sm">
            <td class="header">
                <form action="{% url 'add' %}">
                    <button class="header">Anlegen</button>
                </form>
        </div>
        <div class="col-sm">
            <td class="header">
                <form action="{% url 'imp' %}">
                    <button class="header">Impressum</button>
                </form>
        </div>
    </div>
    <br>
    <h2>TODOs</h2><br>
    <table class="table table-hover table-dark" style="width: 100%;margin-right: 10px;">
        <thead style="background-color:#2d3338">
            <tr>
            <th style="width:auto">TODO</th>
            <th style="width:100px">Deadline</th>
            <th style="width:100px">Fortschritt</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
            </tr>
        </thead>
        <tbody>
        {% for todo in TODO_list %}
        <tr>
            <td>{{ todo.name }}</td>
            <td>{{ todo.deadline|date:'d.m.Y' }}</td>
            <td style="text-align:center">{{ todo.fortschritt }} %</td>

            <td><button class="editdel">Bearbeiten</button></td>

            <form action="{% url 'delete' %}" method="post">{% csrf_token %}
            <td><button name="id" value="{{ todo.id }}" class="editdel" type="submit">Löschen</button></td></form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>