<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TODO/style.css' %}">

<title>TODOs</title>
<body>
    <div class="row">
        <div class="col-sm">
            <td class="header" style="margin-left: 10px;">
                <form action="{% url 'main' %}">
                    <button class="header">Übersicht</button>
                </form>
            </td>
        </div>
        <div class="col-sm">
            <td class="header">
                <form action="{% url 'add' %}">
                    <button class="header">Anlegen</button>
                </form>
        </div>
        <div class="col-sm">
            <td class="header">
                <form action="{% url 'imp' %}">
                    <button class="header">Impressum</button>
                </form>
        </div>
    </div>
    <br>
    <h2>TODOs</h2><br>
    <table class="table table-hover table-dark" style="width: 100%;margin-right: 10px;">
        <thead style="background-color:#2d3338">
            <tr>
            <th style="width:100%">TODO</th>
            <th style="width:150px">Deadline</th>
            <th style="width:100px">Fortschritt</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
            </tr>
        </thead>
        <tbody>
        {% if request.method == 'POST' %}
        {% for todo in TODO_list %}
            {% if todo.id == editid %}
                <tr>
                    <form action="{% url 'save' %}" method="post">{% csrf_token %}
                        <td><textarea type="text" class="titel" name="name" required="required" maxlength="160">{{ todo.name }}</textarea></td>
                        <td><input type="date" class="datum" name = "deadline" required="required" min='1999-01-01' max='9999-12-31' value={{ todo.deadline|date:'Y-m-d' }} ></td>
                        <td><input type="number" class="fort" name = "fortschritt" min ="0" max="100" value={{ todo.fortschritt }}> %</td>

                        <td><button name="id" value="{{ todo.id }}" class="editdel">Speichern</button></td>
                    </form>

                    <form action="{% url 'delete' %}" method="post">{% csrf_token %}
                    <td><button name="id" value="{{ todo.id }}" class="editdel" type="submit">Löschen</button></td></form>
                </tr>
            {% else %}
                <tr>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.deadline|date:'d.m.Y' }}</td>
                    <td style="text-align:center">{{ todo.fortschritt }} %</td>

                    <form action="{% url 'edit' %}" method="post">{% csrf_token %}
                    <td><button name="id" value="{{ todo.id }}" class="editdel">Bearbeiten</button></td></form>

                    <form action="{% url 'delete' %}" method="post">{% csrf_token %}
                    <td><button name="id" value="{{ todo.id }}" class="editdel" type="submit">Löschen</button></td></form>
                </tr>
            {% endif %}
        {% endfor %}
        {% else %}
        {% for todo in TODO_list %}
            <tr>
                <td>{{ todo.name }}</td>
                <td>{{ todo.deadline|date:'d.m.Y' }}</td>
                <td style="text-align:center">{{ todo.fortschritt }} %</td>

                <form action="{% url 'edit' %}" method="post">{% csrf_token %}
                <td><button name="id" value="{{ todo.id }}" class="editdel">Bearbeiten</button></td></form>

                <form action="{% url 'delete' %}" method="post">{% csrf_token %}
                <td><button name="id" value="{{ todo.id }}" class="editdel" type="submit">Löschen</button></td></form>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</body>